@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body,

html{
  font-family: 'Righteous', cursive;
}

h1 {
  font-size: 40px;
}

nav {
  height: 50px;
  width: 95%;
  position: fixed;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.catagory {
    font-family: 'Righteous', cursive;
    font-size: 17px;
    background: #DAF7A6;
    border: 3px solid black;
    /* color: #fff; */
    outline: none;
    float: left;
    width: 200px;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    line-height: 60px;
}

input:focus {
    background: #FFC300;
    /* color: #000; */
}

 .menu a {
  text-decoration: none;
  /* color:solid black; */
}

.container {
  display: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 40px;
  width: 50%;
  /* line-height: 1.68; */
}

.searchBar {
    width: 20%;
    height: 20px;
    border-radius: 3px;
    border: 3px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    background: #DAF7A6;
    border: 3px solid black;
}

.searchButton {
    width: 200px;
    height: 50;
    border-radius: 3px;
    border: 3px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    background: #DAF7A6;
    border: 3px solid black;
}

.ShowPictures{
  width: 90%;
  height: 200px;
  padding: 100px 40px;
}
