
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');

body,
html{
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 60px;
  /* width: 945px; */
  /* padding: 20px 40px; */
   /* position: fixed; */
}

ul.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  list-style: none;
  background-color: #A2C4C3;
  margin: 0;
  line-height: 60px;
}
.menu a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 40px;
  width: 50%;
  line-height: 1.68;
}


/* ----------------------------------------
Typography
------------------------------------------- */
h2{
  margin-bottom:0px;
  margin-top:0px;
  color: #244B3F;
}

h3{
  margin-bottom:0px;
  margin-top:40px;
  color: #244B3F;
}
p{
  color: #244B3F;
}
/* ----------------------------------------
Lists
------------------------------------------- */
.issues{
  color: #5E7F7E;
}
.issues:hover{
  color: #96A14A;
}


/* ----------------------------------------
Layout
------------------------------------------- */
.row{
  display: flex;
  flex-direction: row;
}
.column{
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}
.left{
  hight: 600px;
  display: inline-block;
 padding: 5px;
 border: 1px solid #212E2A;
 background-color: #C5F5E6;
}
.right{
  padding-top: 160px;
  hight: 600px;
  display: inline-block;
 padding: 5px;
 border: 1px solid #212E2A;
 background-color: #C5F5E6;
}


/* ----------------------------------------
Header
------------------------------------------- */
.header{
  padding: 80px 40px;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 10px;
}
.backgroundimage{
  padding: 25px;
  background-image: url("blog_header_bg.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
.buttons{
  padding: 25px;
  background-color: #98E5DF;
}
.buttons:hover{
  color: white;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer{
  background-color: #98E5DF;
}
