@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html{
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 60px;
}

ul.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  list-style: none;
  background: grey;
  margin: 0;
  line-height: 60px;
}

.container a {
  text-decoration: none;
  color: #F4F4F4;
}
/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

/* ----------------------------------------
Typography
------------------------------------------- */



/* ----------------------------------------
Lists
------------------------------------------- */



/* ----------------------------------------
Layout
------------------------------------------- */


/* ----------------------------------------
Header
------------------------------------------- */


/* ----------------------------------------
Buttons
------------------------------------------- */



/* ----------------------------------------
Footer
------------------------------------------- */
