@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

/* green: #00D200 */
.title {
  color: #993A26;
}
.author {
  color: #4C2699;
}
strong {
  font-family: "Raleway", sans-serif;
  color: #4C2699;
}
p {
  font-family: "Raleway", sans-serif;
}
