@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

/* green: #00D200 */
.title {
  color: black;
  position: fixed;
  top: 300px;
  background: yellow
}
.author {
  color: #4C2699;
  position: fixed;
  top: 350px;
}
.pullquote {
  font-family: "Raleway", sans-serif;
  color: #4C2699;
}

.pullquote:hover{
  color:blue;
}

p {
  font-family: "Raleway", sans-serif;
}

.row{
  display: flex;
  flex-direction: row;
}

/*children */
.column{
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left{
  hight: 300px;
 /* background: grey */
}

.right{
  hight: 300px;
 /*  background: grey */
}
